---
layout: page
title: Docs
---



{% for item in site.docs %}
<p><a href="{{ item.url }}">{{ item.title }}</a></p>
{% endfor %}


<!--

  permalink: /eventos/
tags: [Categories]
description: "Proximos eventos."


<ul class="tag-box inline">
{% assign tags_list = site.categories %}
{% if tags_list.first[0] == null %}

{% for tag in tags_list %}
{% if tag == 'evento' or tag == 'meetup' %}
<li><a href="#{{ tag }}">{{ tag | capitalize }} <span>{{ site.tags[tag].size }}</span></a></li>
{% endif %}
{% endfor %}
{% else %}
{% for tag in tags_list %}
{% if tag == 'evento' or tag == 'meetup' %}
<li><a href="#{{ tag[0] }}">{{ tag[0] | capitalize }} <span>{{ tag[1].size }}</span></a></li>
{% endif %}
{% endfor %}

{% endif %}

{% assign tags_list = nil %}
</ul>



{% for post in site.categories[page.category] %}
<a href="{{ post.url | absolute_url }}">
  {{ post.title }}
</a>
{% endfor %}

{% for tag in site.categories %}
{% if tag == 'evento' or tag == 'meetup' %}
<h2 id="{{ tag[0] }}">{{ tag[0] | capitalize }}</h2>
<ul class="post-list">
{% assign pages_list = tag[1] %}
{% for post in pages_list %}
{% if post.title != null %}
{% if group == null or group == post.group%}

<li><a href="{{ post.url }}">{{ post.title }}<span class="entry-date"> - <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %d, %Y" }}</time></a></li>

{% endif %}
{% endif %}
{% endfor %}
{% assign pages_list = nil %}
{% assign group = nil %}
</ul>
{% endif %}
{% endfor %}
-->
