---
layout: page
title: Eventos
permalink: /eventos/
tags: [Eventos]
description: "Eventos."
---

{% for tag in site.eventos_tipo %}
<h2 id="{{ tag[0] }}">{{ tag[0] | capitalize }}</h2>
<ul class="evento-list">
{% assign pages_list = tag[1] %}
{% for evento in pages_list %}
{% if evento.title != null %}
{% if group == null or group == evento.group %}
<li><a href="{{ evento.url }}">{{ evento.title }}<span class="entry-date"> - <time datetime="{{ evento.date | date_to_xmlschema }}" itemprop="datePublished">{{ evento.date | date: "%b %d, %Y" }}</time></a></li>
{% endif %}
{% endif %}
{% endfor %}
{% assign pages_list = nil %}
{% assign group = nil %}
</ul>
{% endfor %}



